<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Route Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <style>
    .table-responsive {
      max-height: 400px;
      overflow-y: auto;
    }
  </style>
</head>

<body>
  <div class="container mt-4 mb-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/easy-bus/account-management">Account Management</a></li>
        <li class="breadcrumb-item active">Account Details</li>
      </ol>
    </nav>
  </div>
  <div class="container mt-5">
    <h1>Account Details</h1>
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <strong>Email:</strong> <span th:text="${account.email}"></span>
        </p>
        <p class="card-text">
          <strong>Role:</strong> <span th:text="${account.role.roleName}"></span>
        </p>
        <p class="card-text">
          <strong>Name:</strong> <span th:text="${account.fullName}"></span>
        </p>
        <p class="card-text">
          <strong>Phone:</strong> <span th:text="${account.phone}"></span>
        </p>
        <p class="card-text">
          <strong>Status:</strong> <span th:text="${account.status}"></span>
        </p>
      </div>
    </div>
  </div>
</body>

</html>