<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Easy Bus</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!--Bootstrap icon -->
   <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css}">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
   <!-- Responsive-->
   <link rel="stylesheet" th:href="@{/css/responsive.css}">
   <!-- fevicon -->
   <link rel="icon"  type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet"
      th:href="@{https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css}"
      integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy" crossorigin="anonymous">
   <!-- fonts -->
   <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap}" rel="stylesheet">
   <!-- font awesome -->
   <!-- <link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"> -->
   <!--  -->
   <link rel="stylesheet" th:href="@{/css/fontawesome.css/fontawesome.min.css}">
   <!-- owl stylesheets -->
   <link th:href="@{https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext}"
      rel="stylesheet">
   <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
   <link rel="stylesoeet" th:href="@{/css/owl.theme.default.min.css}">
   <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css}"
      media="screen">
</head>
<body>
    <!-- header top section start -->
    <div class="logo_2 d-flex justify-content-center">
        <a th:href="@{index}"><img th:src="@{/images/EasyBus_processed.png}" /></a>
    </div>
  
    <!-- header top section end -->

    <!-- booking section start -->
    <div class="fashion_section">
      <div class="container d-flex flex-nowrap">
        <div class="choose_seat trip-card d-flex flex-column justify-content-center col-sm-8">
            <h3 class="full">Chọn ghế</h3>
                <ul class="showcase">
                    <li>
                      <div class="seat"></div>
                      <small>Còn Trống</small>
                    </li>
                    <li>
                      <div class="seat selected"></div>
                      <small>Đang chọn</small>
                    </li>
                    <li>
                      <div class="seat booked"></div>
                      <small>Đã Bán</small>
                    </li>
                  </ul>
                  <div class="floor-container d-flex justify-content-center">
                    <div class="floor_1">Tầng dưới</div>
                    <div class="floor_2">Tầng trên</div>
                  </div>
                  <div class="seat_container">
                    <div class="first_floor">
                      <div th:each="i: ${#numbers.sequence(0, (firstFloor.size() / 3) - 1)}" class="row_2">
                          <div th:each="seatReservation: ${firstFloor.subList(i * 3, i * 3 + 3)}" class="seat" th:id="${seatReservation.seat.getId()}" th:text="${seatReservation.seat.getSeatName()}" th:data-name="${seatReservation.seat.getSeatName()}"></div>
                      </div>
                    </div>
                      <div class="second_floor">
                          <div th:each="i: ${#numbers.sequence(0, (secondFloor.size() / 3) - 1)}" class="row_2">
                              <div th:each="seatReservation: ${secondFloor.subList(i * 3, i * 3 + 3)}" class="seat" th:id="${seatReservation.seat.getId()}" th:text="${seatReservation.seat.getSeatName()}" th:data-name="${seatReservation.seat.getSeatName()}"></div>
                          </div>
                      </div>
                  </div>
                </div>
          </div>
            <div class="confirm_info trip-card d-flex align-self-start flex-column col-sm-4">
              <h3 class="full">Thông tin lượt đi</h3>
              <div class="full d-flex justify-content-between">
                <h4 class="full d-flex   ">Tuyến xe</h4>
                <span th:text="${selectedTrip.route.name}" class="full d-flex justify-content-end text_right "></span>
              </div>
              <div class="d-flex justify-content-between full">
                <h4 class="full">Thời gian xuất bến</h4>
                <span th:text="${#temporals.format(selectedTrip.departureTime,'yyyy-MM-dd HH:mm')}" class="full d-flex justify-content-end"></span>
              </div>
              <div class="d-flex justify-content-between full">
                <h4 class="full">Số lượng ghế</h4>
                  <h4 class="text d-flex flex-nowrap">
                    <span class="space_right" id="count">0 </span> ghế
                  </h4>
              </div>
              <div class="d-flex justify-content-between full">
                <h4 class="full">Số ghế</h4>
                <span class="full d-flex justify-content-end" id="seat_number"></span>
              </div>
              <div class="d-flex justify-content-between full">
                <h4 class="full">Tổng tiền lượt đi</h4>
                  <h4 class="text d-flex flex-nowrap">
                    <span class="space_right" id="total"> </span> đ
                  </h4>
              </div>
              <input type="hidden" id="ticketPrice" th:value="${selectedTrip.price}">
            </div>
        </div>    
    </div>
    <script>
        const container = document.querySelector(".seat_container");
        const seats = document.querySelectorAll(".row_2 .seat:not(.booked)");
        const count = document.getElementById("count");
        const total = document.getElementById("total");
        const seatNumber = document.getElementById("seat_number");
        const ticketPrice = document.getElementById("ticketPrice").value;
        populateUI();

        const updateSelectedCount = () => {
          const selectedSeats = document.querySelectorAll(".row_2 .seat.selected");

          const seatsIndex = [...selectedSeats].map((seat) => {
              return [...seats].indexOf(seat);
          });

          localStorage.setItem("selectedSeats", JSON.stringify(seatsIndex));

          const selectedSeatsCount = selectedSeats.length;

          count.innerText = selectedSeatsCount;
          total.innerText = (selectedSeatsCount * ticketPrice).toFixed(2);
            
          
          // Update seat numbers
         const selectedSeatNumbers = [...selectedSeats].map(seat => seat.dataset.name).join(', ');
          seatNumber.innerText = selectedSeatNumbers;
        };

        function populateUI() {
          const selectedSeats = JSON.parse(localStorage.getItem("selectedSeats"));

          if (selectedSeats !== null && selectedSeats.length > 0) {
              seats.forEach((seat, index) => {
              if (selectedSeats.indexOf(index) > -1) {
                  seat.classList.add("selected");
              }
              });
          }
          }

        container.addEventListener("click", (e) => {
          if (
              e.target.classList.contains("seat") &&
              !e.target.classList.contains("booked")
          ) {
            const selectedSeatsCount = document.querySelectorAll(".row_2_1 .seat.selected, .row_2 .seat.selected").length;
            if (e.target.classList.contains("selected")) {
              e.target.classList.remove("selected");
          } else if (selectedSeatsCount < 5) {
              e.target.classList.add("selected");
          } else {
              alert("Bạn đã chon đủ số ghế.");
          }
          updateSelectedCount();
          }
       });

      updateSelectedCount();
    </script>
</body>
</html>