<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Easy Bus</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
</head>
<body>

<div class="confirm_info trip-card d-flex align-self-start flex-column col-sm-4">
    <h3 class="full text-dark">Thông tin lượt đi</h3>
    <div class="full d-flex justify-content-between">
      <h4 class="full d-flex   ">Tuyến xe</h4>
      <span th:text="${routeName}" class="full d-flex justify-content-end text_right "></span>
    </div>
    <div class="d-flex justify-content-between full">
      <h4 class="full">Thời gian xuất bến</h4>
      <span th:text="${#temporals.format(departureTime,'yyyy-MM-dd HH:mm')}" class="full d-flex justify-content-end"></span>
    </div>
    <div class="d-flex justify-content-between full">
      <h4 class="full">Số lượng ghế</h4>
        <h4 class="text d-flex flex-nowrap">
          <span class="space_right" id="count" th:text="${numberOfSeat}"> </span> ghế
        </h4>
    </div>
    <div class="d-flex justify-content-between full">
      <h4 class="full">Số ghế</h4>
      <span class="full d-flex justify-content-end" id="seat_number" th:text="${#strings.arrayJoin(listSeat, ', ')}"></span>
    </div>
    <div class="d-flex justify-content-between full">
      <h4 class="full">Tổng tiền lượt đi</h4>
        <h4 class="text d-flex flex-nowrap">
          <span class="space_right" id="total" th:text="${totalFee}"> </span> $
        </h4>
    </div>
    
  </div>
</body>
</html>